body {
    font-family: Verdana;
}

table/*, th, td */{
    border: 1px solid black;
}
/*
a { 
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}*/

.square, #tape {
    border: 1px solid black; 
    padding: 2px;
    width: fit-content;
}

.square {
    display: inline-block;
    font-size: 2.5em;
    margin: 2px;
}
